<div class="container w-50">
    <div class="row">
        <ng-container *ngFor="let show of shows">
            <img *ngIf="show.image != null" src="{{show.image.original}}" alt="...">
            <img *ngIf="show.image == null" src="https://static.tvmaze.com/images/no-img/no-img-portrait-text.png" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{show.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </ng-container>
    </div>
</div>